<hr>
## DataScience Course $\circ$ Pandas Exercise $\circ$ SF Salaries Dataset
By Dr Boontawee Suntisrivaraporn  
<img src="https://1.bp.blogspot.com/-J1gxIX6Cp9w/Wy-lUTT-LqI/AAAAAAADIss/i8oWgsmB9OY8nRMc21XH_BA7AUCGkuGFgCLcBGAs/s1600/logo2.jpg" width=600> 
<hr>

This exercise lets you apply your just-learned knowledge on `pandas` to the real-world data. We will be using the [SF salaries dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle.

Getting stuck? Raise your hand and ask the TA/coach at anytime to get some hints.

**$\Rightarrow$ 
Import `pandas` as `pd`.
**

**$\Rightarrow$ 
Read `Salaries.csv` under the directory `../data/` as a dataframe called `df`.
**

**$\Rightarrow$ 
Observe the top `3` rows of `df`. Hint: use `head()` method or dataframe slicer.
**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

**$\Rightarrow$
Use the `info()` method to learn about the dataset.
**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**$\Rightarrow$
What is the median BasePay ?
**

65007.45

**$\Rightarrow$
What is the highest TotalPayBenefits ?
**

567595.43000000005

**$\Rightarrow$
What years are covered in this dataset ?
**

array([2011, 2012, 2013, 2014], dtype=int64)

**$\Rightarrow$
What is the JobTitle of GREGORY SUHR ?
**

'CHIEF OF POLICE'

**$\Rightarrow$
How much does GREGORY SUHR make incl. all benefits ?
**

267992.59000000003

** $\Rightarrow$
What is the JobTitle of highest paid person (only BasePay)?
**

'Chief of Police'

** $\Rightarrow$
What is the name of lowest paid person incl. benefits and that amount? 
**

array(['Joe Lopez', -618.13], dtype=object)

** $\Rightarrow$
What was the average BasePay of all employees per year?
**

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**$\Rightarrow$
How many unique job titles are there? **

2159

**$\Rightarrow$
What are the top three most common jobs? **

Transit Operator    7036
Special Nurse       4389
Registered Nurse    3736
Name: JobTitle, dtype: int64

**$\Rightarrow$
How many JobTitle are occuppied by more than one person in the last year (as in the dataset)? 
**

822

** $\Rightarrow$
How many job titles (not persons) have the word ``Officer`` (case insensitive)? 
**

71

<hr>
**FINISHED!**